@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


#apex {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#leftPaneHeading {
  height: 50px;
  text-align: center;
}

#graph {
  height: 500px;
}

#graph2 {
  height: 50px;
  width: 300px;
}

#graph1 {
  height: 700px;
  width: 500px;
}

#infoDropdown {
  float: right;
}

#rightPane {
  width: 500px;
}